body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1246px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2773 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2774_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:99px;
}
#u2774 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:40px;
  width:610px;
  height:99px;
  opacity:0.15;
}
#u2774_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:6px;
  height:73px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2775 {
  border-width:0px;
  position:absolute;
  left:40px;
  top:43px;
  width:6px;
  height:73px;
}
#u2775_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2776 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:81px;
  width:300px;
  height:38px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u2776_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:5px;
  width:300px;
  word-wrap:break-word;
}
#u2777_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:452px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2777 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:250px;
  width:254px;
  height:452px;
}
#u2777_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2778_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:452px;
}
#u2778 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:250px;
  width:254px;
  height:452px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2778_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:250px;
  word-wrap:break-word;
}
#u2779_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:452px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2779 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:250px;
  width:254px;
  height:452px;
}
#u2779_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:452px;
}
#u2780 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:250px;
  width:254px;
  height:452px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2780_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:200px;
  width:250px;
  word-wrap:break-word;
}
#u2781_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:452px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2781 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:250px;
  width:254px;
  height:452px;
}
#u2781_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:298px;
}
#u2782 {
  border-width:0px;
  position:absolute;
  left:688px;
  top:327px;
  width:254px;
  height:298px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2782_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:124px;
  width:250px;
  word-wrap:break-word;
}
#u2783_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:452px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2783 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:250px;
  width:254px;
  height:452px;
}
#u2783_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:254px;
  height:152px;
}
#u2784 {
  border-width:0px;
  position:absolute;
  left:992px;
  top:400px;
  width:254px;
  height:152px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u2784_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:250px;
  word-wrap:break-word;
}
#u2785_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2785 {
  border-width:0px;
  position:absolute;
  left:80px;
  top:732px;
  width:1166px;
  height:95px;
  font-family:'PingFangSC-Thin', 'PingFang SC Thin', 'PingFang SC';
  font-weight:200;
  font-style:normal;
  font-size:12px;
  color:#666666;
}
#u2785_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1166px;
  word-wrap:break-word;
}
#u2786 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:869px;
  width:597px;
  height:40px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
